* {
    margin: 0;
    padding: 0;
}

.maindiv {
    width: 500px;
    padding: 20px;
    border: 1px dotted black;
    margin: 20px auto;
    text-align: center;
    position: relative;
}

.div1 {
    height: 150px;
    width: 150px;
    background-color: rgb(10, 247, 247);
    display: inline-block;
    position: absolute;
    top: 50px;
    left: 100px;
}

.div2 {
    height: 150px;
    width: 150px;
    background-color: rgb(50, 247, 1);
    display: inline-block;
}

.div3 {
    height: 150px;
    width: 150px;
    background-color: rgb(18, 126, 250);
    display: inline-block;
}